.Item {
  background-color: #111111;
  padding: 15px;
  border-radius: 3px;
  width: 200px;
  height: 240px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
  margin: 20px;
}

.Container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 75px;
}

.Image {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.Name {
  height: 19px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
}

.Artists {
  height: 19px;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
}